body{
    width:1000px;
    margin:0 auto;
    background-size:200vh auto;
    height: 100vh;
    background-color: darkgray; 
}

header{
    background-color:rgb(58, 70, 122);
}

main{
  background-color: white;
  padding: 3%;
  font-size: 18px;
}

.img-logo div{
  height: 180px;
  width: 240px;
}

h3{
  padding: 3px;
  background-color: yellow;
}

.quiz-question{
  background-color: lightpink;
}

.texto p{
  display: flex;
  justify-content:center;
  padding: 5px;
}

.Introdução div{
  justify-content: center;
}

.imgtxt{
  height: 180px;
  width: 240px;
  display: flex;
  justify-content: center;
}

.menu{
  background-color:#d3d3d3;
  position: fixed;
  width:1000px;
  top: 0;
  z-index: 1;
}
.menu ul {
    display: flex;
    justify-content: space-around;
  }
  
.menu li {
   list-style: none;
}
.menu a{
  color: black;
}

.menu button{
  background-color: rgb(231, 108, 60);
  border-radius: 20px;
}

.menu a {
    display: block;
    padding: 5px 5px;
    transition: background-color 1s, color 1s;
}

a {
  text-decoration: none;
}


.nomepagina div{  
  justify-content:center;
  padding: 1%;
}
.nomepagina{
  display: flex;
  padding: 5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.festival div{
  justify-content: center;
  padding:1%; 
}

.festival{
  display: flex;
}

.texto div{
  display: flex;
  justify-content:center;
  padding: 5px;
}

.video div{
  display: flex;
  justify-content:center;
  padding: 1%;
  background-color: lightcoral;
}

section>h2{
  background-color: lightblue;
}

.video{
  justify-content: center;
}

.contactos{
  background-color:rgb(223, 223, 108);
}